<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Bank card type Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="attrite" placeholder="Is the custmer still with the bank?" required="required" /><br>
      
    	<input type="text" name="age" placeholder="Age of the person" required="required" /><br>
        <input type="text" name="gender" placeholder="Gender of the person" required="required" /><br>
        <input type="text" name="children" placeholder="Children per person" required="required" /><br>
        <input type="text" name="edu" placeholder="Education of the person (0 to 6)" required="required" /><br>
        <input type="text" name="marital" placeholder="Marital Status of the person (0 to 3)" required="required" /><br>
        <input type="text" name="income" placeholder="Income (0 to 3)" required="required" /><br>
        

        <input type="text" name="monthOnBooks" placeholder="Month on Books" required="required" /><br>
        <input type="text" name="totalRelationshipCount" placeholder="Total Relationship" required="required" /><br>
        <input type="text" name="monthsInactive12mon" placeholder="Months Inactive (1 to 12)" required="required" /><br>

        <input type="text" name="contactsCount12mon" placeholder="Contacts Count 1-10" required="required" /><br>
        <input type="text" name="creditLimit" placeholder="Credit Limit of the Account" required="required" /><br>
        <input type="text" name="totalRevolvingBal" placeholder="Total Revolving Balance in the account" required="required" /><br>
        <input type="text" name="avgOpenToBuy" placeholder="Average Open to Buy of the Account" required="required" /><br>
        
        <input type="text" name="totalAmtChngQ4Q1" placeholder="Total Amount Change from Q4 to Q1" required="required" /><br>
        <input type="text" name="totalTransAmt" placeholder="Total Transferred Amount from the account" required = "required" /><br>
        
        <input type="text" name="totalTransCt" placeholder="Total Transferred Credit from the account" required = "required" /><br>
        <input type="text" name="totalCtChngQ4Q1" placeholder="Total Credit from Q4 to Q1 of the account" required = "required" /><br>
        <input type="text" name="avgUtilizationRatio" placeholder="Total average utilization ratio (0 to 1)" required = "required" /><br>
        

       
       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>